body{
    margin: 0;
    display: flex;
    justify-content: space-between;
    background-color:lightskyblue;

}





#navbar{
    flex-direction: column;
    position:fixed;
    
    min-width: 290px;
    background-color: black;
    width: 15vw;
    height: 100%;
}
#navbar ul{
    margin: 0;
    overflow-y: auto;
    overflow-x: hidden;
    padding: 0;
    height: 88%;
}
.nav-link{
    display: flex;
    z-index: 1;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100%;
    background-color: white;
    height: 50px;
    margin-bottom: 25px;
    transition: 500ms;
    text-decoration: none;
    list-style-type: none;
}
.nav-link:hover{
    background-color: brown;
    transform: translateX(25px);
    transition: 500ms;
}
p{
    max-lines: 25;
    font-size: 19px;
    text-align: justify;
}
header{
    margin: 25px;
    font-size: 35px;
    color: black;
    font-weight: bold;
}
#main-doc {
    position: absolute;
    margin-left:350px;
    padding: 20px;
    width: 75%;
    height: 100%;
    background-color:lightskyblue;
  
  }
#main-pic{
    width: 200px;
    height: 200px;
}
.code-container{
    background-color: #eee;
    padding: 5px;
    margin: 15px;
    border-radius: 25px;
    
}
code{
   
    font-family: courier, monospace;
}
#hn{
    color: rgb(255, 255, 255);

}

@media (max-width:600px){
    #navbar{
        background-color: aquamarine;
        display: none;
    }
    #main-doc{
        margin-left:20px;
    }
  


}
span{
    height: 50px;
}